
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 2px;
    max-width: 100%;
    padding-top: 0px;
    position: relative;
    overflow: auto;
}

@media (max-width: 600px) {
    .main{
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
    }
}