.video{
    display: grid;
    padding: 4px 1%;
    place-items: center;
    grid-template-rows: auto auto auto 1fr;
    max-height: 120vh;
}

.video .screen{
    aspect-ratio: 16/9;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 100%;
    position: relative;
}

.screen .top-left{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: max-content;
    gap: 4px;
    position: absolute;
    inset: 4px auto auto 4px;
    background-color: yellow;
};
.screen .top-right{
    position: absolute;
    inset: 4px 4px auto auto;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: max-content;
    gap: 4px;
    background-color: red;
};

.screen .bottom-right{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: max-content;
    gap: 4px;
    position: absolute;
    inset: auto 4px 4px auto;
    background-color: blue;
};
.screen .bottom-left{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: max-content;
    gap: 4px;
    position: absolute;
    inset: auto auto 4px 4px;
    background-color: green;;
}
.video .close-chatt{
    border-radius: 4px;
    background-color: rgb(18, 18, 104);
    color: aliceblue;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 6px auto;
}

.video .go-backx{
    justify-self: start;
}

.video .chats-section{
    max-height: 40vh;
    overflow-y: auto;
}