.card{
    display: grid;
    grid-template-rows: auto auto;
    padding: 4px;
    margin: 6px;
    border: 1px solid blue;
    width: 100%;
    max-width: 100%;
    height: max-content;
}

.room{
    position: absolute;
    width: 100%;
    height: auto;
    background-size: cover;
}
 .room img{
     width: min(500px, 80%);
     height: auto;
     margin: auto;
 }
.room .location{
    position: relative;
    top: 4px;
    left: 4px;
}

.room .price{
    position: relative;
    top: 4px;
    right: 4px;
}

.room .more{
    position: relative;
    bottom: 4px;
    left: 4px;
}

.card .desc{
    margin: auto;
}