@keyframes burger-down {
    0%{
         opacity: 0;  
    }
    100%{
        opacity: 1;
    }
}
.burger{
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(213, 213, 228);
    color: rgb(58, 4, 253);
    animation: burger-down 0.5s ease-in;    
};

.close{
    margin: auto;
    cursor: pointer;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70vw;

}

.links h3{
    cursor: pointer;
    color: rgb(17, 16, 24);
}

.links h4:hover{
    color: rgb(187, 170, 228);
}
.menu{
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.menu .MuiSvgIcon-root{
    width: 1.3em;
    height: auto;
    fill: rgb(10, 10, 12);
    margin: auto;
}
.close .MuiSvgIcon-root{
    width: 1.3em;
    height: auto;
    fill: rgb(50, 50, 185);
    margin: auto;
}
