
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    place-items: center;
    overflow-y: auto;
    width: 100%;
}


@media (max-width: 500px) {
    .services{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        place-items: center;
        overflow-y: auto;
        width: 100%;
    }
}
