.carte{
    display: grid;
    place-items: center;
    height: 14em;
    width: auto;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    border-radius:4px;
    padding: 10px;
    margin: 8px;
}

.carte h3{
    text-align: center;
    color: rgb(52, 52, 224);
}

.carte button{
    border-radius: 8px;
    background-color: rgb(23, 23, 126);
    color: rgb(240, 236, 243);
    outline: none;
    padding: 4px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}