.networker{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 4px;
    position: relative;
}

.networker .dot-doc{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    inset: auto auto -5px -5px;
    background-color: rgb(183, 183, 212);
    z-index: 10000;
}
.networker p{
    font-weight: 600;
    font-size: small;
    border: 1px solid rgb(221, 221, 230);
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}
.networker-actions{
    position: relative;
}

.networker-actions .networker-options{
    position: absolute;
    inset: 100% 5px auto auto;
    list-style: none;
    width: max-content;
    z-index: 200;
    background-color: white;
    padding: 4px 8px;
}
.networker-options .networker-op{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    margin: 6px 4px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.networker-op p{
    font-weight: 500;
}
.networker-actions .networker-op:hover{
    background-color: whitesmoke;
    color: rgb(116, 116, 167);
}
.networker-set{
    grid-area: 2/2/3/3;
    border-left: 1px solid rgb(107, 107, 146);
}