
@keyframes slide-it {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}
.card{
    display: grid;
    padding: 6px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    height: max-content;
    width: 100%;
    border-radius: 4px;
    animation: slide-it 0.5s ease-in;
}

.image{
    position: relative;
    border-radius: 4px;
    font-weight: 800;
    color: rgb(99, 60, 190);
    padding: 4px;
}
.image  img{
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
}
.location{
    position: absolute;
    top: 6px;
    left: 6px;
}
.price{
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.more-about{
    position: absolute;
    bottom: 4px;
    right: 4px;
    cursor: pointer;
}

.desc{
    height: 12vh;
    overflow-y: auto;
    width: 100%;
}
