.review{
    position: relative;
    width: 99%;
    height: max-content;
    box-shadow: 0 3px 6px rgb(0 0 0 / 26%), 0 1px 2px rgb(0 0 0 / 33%);
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(240, 240, 247);
    margin: 4px auto;
}
.review p{
    font-size: medium !important;
    color: black;
    line-height: 1.6;
}
.review:hover{
    background-color: rgb(247, 246, 250);
}


.review .image-wrapper{
    display: grid;
    place-items: center;
    margin: 10px auto;
    width: 100%;
    max-width: 100%;
}

.image-wrapper .reviewer-job{
    font-size: x-small;
    font-weight: 700;
}


.image-wrapper h3{
    font-size: medium;
}
