

.item .item-head, .item-head-4, .item-head-5, .item-head-6{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 3em;
    border: 1px solid rgb(187, 187, 230);
    border-radius: 4px;
    padding: 4px 0;
    margin: 6px 0;
}

.item .item-head-4, .item .item-head-5, .item .item-head-6{
    border: 1px solid rgb(39, 37, 37);
}
.item h4{
    cursor: pointer;
    border: 1px solid rgb(241, 236, 236);
    border-radius: 4px;
    padding: 2px;
    color: blueviolet;
    margin-right: 4px;
}

.item-4 h4, .item-5 h4, .item-6 h4{
    border: none;
}

.item h4:hover{
    background-color: rgb(242, 242, 247);
}

.item-4, .item-5, .item-6{
    border: none ;
}

.item .item-body-4, .item .item-body-5, .item .item-body-6{
    border: 1px solid rgb(37, 37, 37);
} 
.item .item-body{
    margin-left: 10px;
    padding: 4px;
    border-radius: 4px;
    max-height: 50vh;
    overflow-y: auto;
    height: max-content;
}

.item-head .item-icon .MuiSvgIcon-root:hover{
    fill: rgb(166, 166, 204);
}