
.boule_inactive {
    color: #130681;
    background:#fff;
    border-radius:50%;
    width:25px;
    margin-top: 20px;
    margin-left:120px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}

.barre_inactive {
    background-color: #fff;
    height:5px;
    width: 265px;
    margin-left:-140px;
    margin-top:-35px;
    margin-bottom:33px
}

.boule_active{
    color: #fff;
    background:#130681;
    border-radius:50%;
    width:25px;
    margin-top: 20px;
    margin-left:120px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}

.barre_active{
    background-color: #130681;
    height:5px;
    width: 265px;
    margin-left:-142px;
    margin-top:-35px;
    margin-bottom:33px
}

.barre_sous_titre{
    background-color: #000;
    height:5px;
    width: 100%;
    margin-bottom: 40px;
}

