
.frame{
    position: relative;
    width: 200px;
    height: 20vh;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    margin: 0 10px;
}
.frame h6{
    color: rgb(22, 22, 116);
    font-weight: 800;
    background-color: rgb(191, 187, 224);
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}
.frame .price-r{
    position: absolute;
    top: 4px;
    left: 4px;
}

.frame .city-r{
    position: absolute;
    top: 4px;
    right: 4px;
}

.frame .area-r{
    position: absolute;
    bottom: 4px;
    left: 4px;
}
.frame .more-r{
    position: absolute;
    bottom: 4px;
    right: 4px;
    cursor: pointer;
}