.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    place-items: center;
}

@media (max-width: 420px) {
    .reviews{
        display: block;
    }
}