.MuiSvgIcon-root{
    cursor: pointer;
}
.sign-up{
    padding: 10px 10vw;
    width: max-content;
    border-radius: 3px;
    margin: 10vw auto 10vw auto;
    display: grid;
    place-items: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    font-family: 'Poppins', 'sans-serif';
}

.field{
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto auto auto;
    width: 100%;
    grid-gap: 4px;
    padding: 2px;
    margin: 4px;
    place-items: center;
    
}
.field .icon{
    width: 100%;
    grid-area: 1/3/2/4;

}

.icon .MuiSvgIcon-root{
    fill: rgb(67, 67, 179);
}
.field input{
    width: 100%;
    height: 1.5em;
    grid-area: 1/1/2/3;
    justify-self: center;
    border:  none;
    border-bottom: 1px solid rgb(199, 184, 214);
    padding: 4px;
}

.field input:focus{
    outline: none;
}
.field .view-me{
    width: max-content;
    grid-area: 3/2/4/3;
    justify-self: end;
}

.sign-up .forgot-password, .sign-up .have-account{
    padding: 3px;
}

.forgot-password:hover, .have-account:hover{
    color: blueviolet;
    cursor: pointer;
}


.sign-up .signning{
    padding: 4px;
    font-size: medium;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
    background-color: rgb(7, 9, 167);
    color: white;
    letter-spacing: 1px;
}

.sign-up .avatar .MuiSvgIcon-root{
    width: 3em;
    height: auto;
    fill: rgb(188, 188, 190);
}


.view-me .MuiSvgIcon-root{
    fill: rgb(67, 67, 179);

}

.sign-up h6{
    margin: 6px auto 2px auto;
}
.o-auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1px;
}

.o-auth .o-icon{
    margin: 0 4px;
}

.o-auth .google .MuiSvgIcon-root{
    fill: #4885ed;
};
.o-auth .facebook .MuiSvgIcon-root{
    fill: #3b5998;
};
.o-auth .github .MuiSvgIcon-root{
    fill: #171515;
};
.o-auth .twitter .MuiSvgIcon-root{
    fill: #00acee;
};
