
.search-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    background-color: #f7f8fc;
    padding: 4px 6px;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    flex-grow: 1;
    max-width: 260px;
    margin: 4px auto;
}

.search-me label{
    width: max-content;
    padding: 1px;
    margin: auto;
    display: grid;
    place-items: center;
}
.search-me label .MuiSvgIcon-root{
    width: 25px;
    height: auto;
    fill: rgb(19, 19, 82);
}

.search-me input{
    border: none;
    outline: none;
    height: 20px;
    border-radius: 7px;
    padding: 2px;
    font-weight: 600;
    font-family: Poppins;
    flex-grow: 1;
}

@media only screen and (max-width: 280px){
    .search-me{
        width: 100%;
        margin: 6px auto;
    }
}