
.audio-holder{
    margin: 4px 1%;
    width: 98%;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgb(32 33 36 / 20%);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.audio-holder .calling-acts{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calling-acts .phone-ac{
    margin-left: 4px;
}

.phone-ac .MuiSvgIcon-root:hover{
    background-color: red;
    border-radius: 50%;
}

.audio-holder .caller-username{
    color: rgb(50, 50, 189);
}