.MuiSvgIcon-root{
    cursor: pointer;
}
.sign-up{
    padding: 10px 10vw;
    width: max-content;
    border-radius: 10px;
    margin: 4vw auto;
    display: grid;
    place-items: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 46%), 0 1px 2px rgb(0 0 0 / 53%);
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(241, 245, 247);

}

.field{
    max-width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 99%;
    grid-gap: 4px;
    padding: 2px;
    margin: 4px auto;
    place-items: center;
    
}

.sign-up .avatar{
    display: grid;
    place-items: center;
}
.avatar input{
    display: none;
}

.avatar p{
    font-size: x-small;
    font-weight: 800;
}
.field input{
    outline: none;
    border: none;
    height: 2em;
    padding: 20px 15px;
    border-radius: 10px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    width: 50vw;
    max-width: 300px;
    border: 2px solid rgb(190, 190, 221);
};

.field .view-me{
    width: max-content;
}

.view-me .MuiSvgIcon-root{
    fill: rgb(149, 149, 192);
    width: 20px;
    height: auto;
}
.field input:focus{
    outline: none;
}

.sign-up .forgot-password, .sign-up .have-account{
    padding: 3px;
}

.forgot-password:hover, .have-account:hover{
    color: blueviolet;
    cursor: pointer;
}


.sign-up .signning{
    padding: 4px;
    font-size: medium;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
    background-color: rgb(58, 60, 192);
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 25%), 0 1px 2px rgb(0 0 0 / 35%);
}

.sign-up .avatar .MuiSvgIcon-root{
    width: 3em;
    height: auto;
    fill: rgb(188, 188, 190);
}

.sign-up h6{
    margin: 6px auto 2px auto;
}
.o-auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1px;
}

.o-auth div{
    margin: 0 4px;
}
@media only screen and (max-width: 600px){
    .sign-up{
        width: 98%;
        margin: 1vh auto;
        display: grid;
        place-items: center;
        padding: 3px;
    }
    .field input{
        width: 80vw;
        margin: auto;
    }
}

.still-working-gif{
    position: fixed;
    inset: auto auto auto auto;
}
.still-working-gif-abs{
    position: relative;
    width: max-content;
    margin: auto;
}
.error-input{
    width: 60%;
    font-weight: 600;
    color: blue;
    font-size: small;
    margin: auto;
    letter-spacing: 1px;
}