.review{
    position: relative;
    width: 100%;
    height: max-content;
    box-shadow: 0 3px 6px rgb(0 0 0 / 26%), 0 1px 2px rgb(0 0 0 / 33%);
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(231, 231, 247);
    
}

.review:hover{
    background-color: rgb(192, 192, 219);
}
@media (max-width: 420px) {
    .review{
        width: 99vw;
        margin: 2vh auto;
    }
}

.review .image-wrapper{
    display: grid;
    place-items: center;
    margin: 10px auto;
    width: max-content;
    max-width: 100%;
}

.image-wrapper .reviewer-job{
    font-size: x-small;
    font-weight: 700;
}
.review p{
    font-size: medium;
    color: black;
    line-height: 1.6;
}