.home p{
    width: 80%;
    margin: auto;
    font-size: xx-large;
    text-align: center;
    font-weight:500;
    color: rgb(57, 70, 185);
}

.home {
    padding: 6px;
    overflow-x: hidden;
    width:100%;
    overflow-x: hidden;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue rgb(189, 196, 231);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(242, 242, 247);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(145, 145, 221);
    border-radius: 20px;
    border: 2px solid rgb(186, 197, 228);
  }