.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 732px) {
    .header{
        padding: 2px 15%;
    }
}
.header h4{
    margin: 6px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 13%);
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(24, 24, 129);
    border: 1px solid rgb(234, 234, 243);
    font-weight: 900;
}

.header h4:hover{
    border: 1px solid rgb(88, 88, 177);
}
.burg{
    position: relative;
}