.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header h4{
    margin: 6px;
    padding: 4px;
    border-radius: 14px;
    background-color: #ebecf5;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    cursor: pointer;
    color: blue;
    letter-spacing: 1px;
}

.burg{
    position: relative;
}