
.banner, .banner-4, .banner-5, .banner-6{
    width: 100%;
    height: 100%;
    border-left: 1px solid pink;
    padding: 10px 20px;
    max-height: 100%;
    overflow-y: auto;
}
.banner-4, .banner-5, .banner-6{
  background-color: rgb(15, 15, 15);
  border-left: 1px solid rgb(26, 25, 25);
}



/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue rgb(189, 196, 231);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(242, 242, 247);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(145, 145, 221);
    border-radius: 20px;
    border: 2px solid rgb(186, 197, 228);
  }