

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}


.head .icon-t .MuiSvgIcon-root{
    width: 2em;
    height: auto;
}
.head h3{
    cursor: pointer;
    font-family: Righteous, Poppins, sans-serif;
    color: blue;
}

.head .open-icon{
    justify-self: end;
    align-self: center;
}
.head h4{
    justify-self: start;
}

.icon-t .MuiSvgIcon-root{
    fill: rgb(66, 66, 182);
}

.connecters-list{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.online-person{
    display: grid;
    place-items: center;
    width: max-content;
    margin: 2px 6px;
}

.online-person h5{
    width: max-content;
}