
.outer-search{
    width: 100vw;
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%); */
    padding: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%), 0 0.1px 1px rgb(0 0 0 / 23%);
}
.outer-search .search{
    display: grid;
    grid-template-columns: 80% 1fr;
    width: 400px;
    margin: 4px auto 4px auto;
    padding: 4px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    border-radius: 10px;
    
}

@media only screen and (max-width: 500px) {
    .outer-search .search{
        width: 80vw;
    }
}
.search input{
    width: 100%;
    outline: none;
    font-size: medium;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgb(221, 221, 236);
    border-right: none;
    padding: 3px;
}

.search button{
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    padding: 3px;
    border: 2px solid rgb(221, 221, 236);
    border-left: none;
}

.search .submit-s .MuiSvgIcon-root{
    width: 1em;
    height: auto;
    fill: blue;
    position: relative;
    left: 20%;
}