
.theme{
    width: 20%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid rgb(237, 237, 241);
    border-radius: 6px;
    padding: 6px;
    font-weight: 600;
}

.theme .dark .MuiSvgIcon-root, .theme .white .MuiSvgIcon-root{
    width: 30px;
    height: auto;
    margin: auto;
}

.on-white .MuiSvgIcon-root{
    fill: rgb(121, 116, 185);
}

.on-dark .MuiSvgIcon-root{
    fill: rgb(11, 19, 87);
}

.on-white{
    color: rgb(121, 116, 185);
}

.on-dark{
    color: rgb(11, 19, 87);
}