
.browser, .browser-1{
    width: 100%;
    height: 100%;
    background-color: rgb(254, 254, 255);
    /* height: 62vw; */
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: auto;
}

.browser-5{
    background-color: rgb(15, 15, 15);
}
.browser .go-home{
    position: absolute;
    inset: 10px 20px auto auto;
    padding: 4px 20px;
    width: max-content;
    display: grid;
    place-items: center;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.browser .go-save{
    position: absolute;
    inset: calc(10px + 10%) 20px auto auto;
    padding: 4px 20px;
    width: max-content;
    display: grid;
    place-items: center;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.go-home .MuiSvgIcon-root, .go-save .MuiSvgIcon-root{
    fill: rgb(238, 238, 245);
}

.browser > .add-new{
    position: absolute;
    inset: auto auto 5px;
    transform:  translateX(10px);
}
.browser > .add-new .MuiSvgIcon-root{
    
    fill: rgb(238, 238, 245);
    background-color: rgb(0, 0, 236);
    border-radius: 50%;
    width: 1.3em;
    height: auto;
}