.contacts, .phone-email{
    background-color: black;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.phone h6, .email h6{
    padding: 4px;
    color: rgb(172, 172, 231);
} 
.contacts svg{
    margin-left: 20px;
}
.phone-email div{
    margin: auto 10px;
}
.contacts img{
    width: 100px;
    height: auto;
    background-color: blue;
}

.contacts div{
    margin: 5px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex: wrap;
    font-size: medium;
    letter-spacing: 1px;
}

.contacts div .MuiSvgIcon-root{
    fill: rgb(172, 172, 231);
}